<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.zxk.springboot.database.mapper.StudentMapper">
    <resultMap id="studentMap" type="student">
        <id column="student_id" property="studentId"/>
        <result column="student_name" property="studentName"/>
        <result column="hometown" property="hometown"/>
        <result column="birthday" property="birthday"/>
        <association property="clazz" javaType="Clazz">
            <id column="clazz_id" property="clazzId"/>
            <result column="clazz_name" property="clazzName"/>
        </association>
        <collection property="courses" ofType="Course">
            <id column="course_id" property="courseId"/>
            <result column="course_name" property="courseName"/>
        </collection>
    </resultMap>
    <insert id="insert" parameterType="top.zxk.springboot.database.entity.Student">
        INSERT INTO t_student (clazz_id, student_name, hometown, birthday)
        VALUES (#{clazzId}, #{studentName}, #{hometown}, #{birthday})
    </insert>

    <select id="findStudentById" resultType="top.zxk.springboot.database.entity.Student">
        SELECT *
        FROM t_student
        WHERE student_id = #{studentId}
    </select>

    <update id="updateById" parameterType="top.zxk.springboot.database.entity.Student">
        UPDATE t_student
        <set>
            <if test="clazzId != null">
                clazz_id = #{clazzId},
            </if>
            <if test="studentName != null">
                student_name = #{studentName},
            </if>
            <if test="hometown != null">
                hometown = #{hometown},
            </if>
            <if test="birthday != null">
                birthday = #{birthday}
            </if>
        </set>
        WHERE student_id = #{studentId}
    </update>

    <update id="batchUpdate" parameterType="java.util.List">
        <foreach collection="students" item="student" separator=";">
            UPDATE t_student
            SET
            clazz_id = #{student.clazzId},
            student_name = #{student.studentName},
            hometown = #{student.hometown},
            birthday = #{student.birthday}
            WHERE student_id = #{student.studentId}
        </foreach>
    </update>

    <delete id="deleteById" parameterType="int">
        DELETE
        FROM t_student
        WHERE student_id = #{studentId}
    </delete>

    <insert id="batchInsert" parameterType="java.util.List">
        INSERT INTO t_student (student_id, clazz_id, student_name, hometown, birthday)
        VALUES
        <foreach collection="students" item="student" index="index" separator=",">
            (#{student.studentId}, #{student.clazzId}, #{student.studentName}, #{student.hometown}, #{student.birthday})
        </foreach>
    </insert>

    <delete id="batchDelete" parameterType="java.util.List">
        DELETE FROM t_student
        WHERE student_id IN
        <foreach collection="idList" item="item" index="index" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>

    <select id="getStudent" resultMap="studentMap" parameterType="int">
        SELECT s.student_id,
               s.student_name,
               s.hometown,
               s.birthday,
               c.clazz_id,
               c.clazz_name,
               cc.course_id,
               cc.course_name
        FROM t_student s
                 LEFT JOIN t_clazz c ON s.clazz_id = c.clazz_id
                 LEFT JOIN t_course_student ts ON s.student_id = ts.student_id
                 LEFT JOIN t_course cc ON ts.course_id = cc.course_id
        WHERE s.student_id = #{studentId}
    </select>

    <select id="selectByDynamicSql" resultType="top.zxk.springboot.database.entity.Student" parameterType="top.zxk.springboot.database.entity.Student">
        SELECT *
        FROM t_student
        WHERE 1 = 1
        <choose>
            <when test="clazzId != null">
                AND clazz_id = #{clazzId}
            </when>
            <when test="hometown != null">
                AND hometown LIKE CONCAT('%', #{hometown}, '%')
            </when>
        </choose>
    </select>
</mapper>
